* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;

}


body {
  width: 100%;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  color: #ffffff;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #020202;

}

main, section, header, footer {
  width: 100%;
}

.pd-80 {
  padding-top: 80px !important;
  padding-bottom: 80px !important;

  @media (max-width: 1024px) and (min-width: 769px) {
    padding-top: 30px !important;
    padding-bottom: 30px !important;
  }

  @media (max-width: 768px) {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
  }
}

h1, h2 {
  font-size: 32px;
  color: #ffc705;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  line-height: 60px;
  text-transform: initial;
  font-weight: 400;
}

.bold {
  font-weight: 700;
}

._inner-container {
  max-width: 1250px;
  min-width: 320px;
  margin: 0 auto;
  padding: 0 15px;

  @media (max-width: 1024px) {
    padding: 0 20px;
  }
}

.active-link {
  color: #ffc705 !important;
}


.line {
  display: block;
  width: 100%;
  height: 0.5px;
  background-color: #7d7d7d;
  margin: 10px 0;
}

.date {
  color: #a5a5a5;

}

.subtitle {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  text-align: center;
  margin: 0 0 60px 0;
  line-height: 28px;

  @media (max-width: 768px) {
    margin-bottom: 20px;
  }

}

.header {
  width: 100%;
  height: 50px;
  background-color: #020202;
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 1000;

  @media (max-width: 1024px) {
    height: 60px;
    background-color: transparent;
  }

  .header__nav {
    width: 100%;

    ul {
      width: 100%;
      display: flex;
      justify-content: space-between;

      @media (max-width: 1024px) {
        display: none;
      }

      li {
        &:hover a {
          color: #ffc705;
          transition: all 0.3ms ease-in-out;
        }

        a {
          color: #FFFFFF;
          text-transform: uppercase;
        }
      }
    }
  }

  .active-menu {
    right: 0 !important;
    background-color: #020202 !important;
    transition: all 0.3s ease-in-out;
  }

  .arrow__menu {
    display: none;

    @media (max-width: 1024px) {
      display: block;
      font-size: 32px;
      color: #ffc705;
      text-align: left;

      i{
        transition: all 0.3s ease-in-out;
      }

      &.openMenu i {
        transform: rotate(180deg);
        transition: all 0.3s ease-in-out;

      }
    }
  }

  .arrow__menu-nav {
    visibility: hidden;
    display: none;
    @media (max-width: 1024px) {
      display: block;
      visibility: visible;
      position: fixed;
      top: 0;
      right: -180px;
      max-width: 320px;
      background-color: rgba(0, 0, 0, 0.3);
      padding: 20px;
      transition: all 0.3s ease-in-out;
    }


    ul {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      li {
        padding: 20px 60px 20px;

        a {
          color: #FFFFFF;
          text-transform: uppercase;
        }
      }
    }
  }

}

#about {
  margin-top: 50px;
  background-image: url("bg.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 40%;

  @media (max-width: 1024px) {
    background-position: 50% 25%;
    margin-top: 0;
  }

  @media (max-width: 768px) {
    background-position: 50% 0;
    margin-top: 0;
  }
}

.about {
  min-height: 700px;
  position: relative;


  .about__container {
    max-width: 440px;
    text-align: right;
    position: absolute;
    top: 160px;
    left: 15px;
    @media (max-width: 1024px) {
      top: 78%;
    }

    h1, h2 {
      text-align: left;
      @media (max-width: 1024px) {
        font-size: 24px;
        line-height: 40px;
        background-color: rgba(0, 0, 0, 0.5);
        padding: 0 10px;
      }
    }

    h2 {
      font-weight: 700;
    }

    p {
      margin: 0 0 20px 0;
      line-height: 24px;
      font-size: 14px;
      text-align: left;
      letter-spacing: 1px;
      @media (max-width: 1024px) {
        display: none;
      }
    }

    .nav-contacts {
      display: flex;
      justify-content: flex-start;

      @media (max-width: 1024px) {
        margin-top: 20px;
      }

      ul {
        display: flex;

        li {
          display: block;
          text-align: center;
          line-height: 32px;
          width: 32px;
          height: 32px;
          border: 1px solid #ffc705;
          background: rgba(0, 0, 0, 0.5);
          margin-right: 20px;
          cursor: pointer;


          a {
            color: #ffc705;
          }

          &:hover {
            background: #ffc705;
            transition: all 0.2s ease-in-out;

          }

          &:hover a {
            color: #020202;
            transition: all 0.2s ease-in-out;
          }
        }
      }
    }
  }
}


.skills {
  text-align: center;

  .skills__container {
    padding: 40px 0;
    display: flex;
    flex-wrap: wrap;

    @media (max-width: 768px) {
      padding: 20px 0;
    }

    .skills__container-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0 40px;
      width: 25%;

      @media (max-width: 768px) and (min-width: 421px) {
        width: 50%;
      }

      @media (max-width: 420px) {
        width: 100%;
      }

      .skills-icon {
        width: 90px;
        height: 85px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: 1px dashed #ffc705;

        i {
          font-size: 40px;
          display: block;

          @media (max-width: 420px) {
            font-size: 55px;
          }
        }

        .next {
          width: 40px;
          height: 50px;
          filter: brightness(0) invert(1);

          @media (max-width: 420px) {
            width: 55px;
            height: 50px;
          }
        }

        img {
          width: 50px;
          height: 50px;
          filter: brightness(0) invert(1);

          @media (max-width: 420px) {
            width: 60px;
            height: 60px;
          }
        }
      }

      h3 {
        margin-top: 20px;
      }

      p {
        font-size: 14px;
        color: #585858;
        margin: 0 0 35px 0;
      }
    }
  }
}

.experience {
  .experience__container {
    display: flex;
    flex-direction: column;
    row-gap: 20px;

    .experience__container-item {
      padding: 20px 40px;
      border: 1px solid #ffc705;

      .experience-info {
        margin-top: 10px;

        li {
          list-style-type: none;
          position: relative;

          &:before {
            content: '';
            display: block;
            position: absolute;
            width: 8px;
            height: 8px;
            background-color: #ffc705;
            border-radius: 50%;
            left: -15px;
            top: 50%;
            transform: translateY(-50%);

          }
        }

      }
    }
  }
}

.education {
  .education__container {
    display: flex;
    flex-direction: column;
    row-gap: 20px;

    .education__container-item {
      padding: 20px 40px;
      border: 1px solid #ffc705;
    }

  }
}

.project {
  padding-top: 80px;
  padding-bottom: 80px;

  .project__container {
    display: flex;
    flex-direction: column;
    row-gap: 30px;

    .show-btn {
      display: flex;
      height: 35px;
      max-width: 150px;
      padding: 10px;
      justify-content: center;
      align-items: center;
      border-radius: 5px;
      border: 1px solid #ffc705;
      font-weight: 700;
      color: #ffc705;
      text-transform: uppercase;

      &:last-child {
        margin-left: 20px;
      }

      &:hover {
        background-color: #ffc705;
        color: #020202;
        transition: all 0.2s ease-in-out;
      }

    }

    .project-btn {
      display: flex;
      margin-top: 30px;

      @media (max-width: 768px) {
        justify-content: center;
        align-items: center;
      }

    }

    .project__container-exampleCode {
      .prettyprint {
        padding-top: 20px;
        border: none;
        overflow: auto;

        span {
          color: #fff;
        }

      }

      h3 {
        margin-bottom: 10px;
      }


    }

    .project__container-item {
      display: flex;
      flex-direction: column;

      .date-project {
        margin: 10px 0;

        span {
          color: #7d7d7d;
          font-size: 12px;
        }
      }

    }
  }


}

.contacts {
  display: flex;
  flex-direction: column;
  align-items: center;

  .contacts__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    padding: 70px;
    border: 1px solid #ffc705;
    //width: 50%;

    @media (max-width: 640px) {
      padding: 30px;
    }

    h3 {
      font-size: 20px;
      margin-bottom: 20px;

      @media (max-width: 640px) {
        font-size: 16px;
      }
    }

    .contacts__container-info {
      display: flex;
      flex-direction: column;
      align-items: center;

      @media (max-width: 640px) {
        font-size: 12px;
      }

      ul {
        margin-top: 30px;
        display: flex;

        li {
          display: block;
          text-align: center;
          line-height: 32px;
          width: 32px;
          height: 32px;
          border: 1px solid #ffc705;
          margin-left: 20px;
          cursor: pointer;

          &:first-child {
            margin-left: 0;
          }

          a {
            color: #ffc705;
          }

          &:hover {
            background: #ffc705;
            transition: all 0.2s ease-in-out;
          }

          &:hover a {
            color: #020202;
            transition: all 0.2s ease-in-out;
          }
        }
      }

      p {
        margin-bottom: 10px;

        a {
          color: #7d7d7d;
        }

        &:hover a {
          font-weight: bold;
          color: #FFFFFF;
          transition: all 3ms ease-in-out;
        }
      }
    }


  }
}

.footer {

  @media (max-width: 1024px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .footer__nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;

    span{
      display: block;
      height: 40px;
      width: 2px;
      background-color: #ffc705;
      margin: 0 15px;
    }

    .git-container{
      display: flex;
      align-items: center;
    }

    a {
      color: #FFFFFF;

      i {
        font-size: 40px;
        margin-right: 20px;
      }

      img {
        width: 100px;
        height: auto;

      }
    }


  }
}




